#general-container {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  z-index: 10000;
}

#cookies-privacy {
  align-items: center;
  background: #f2f2f2;
  bottom: 0;
  display: flex;
  font-family: Roboto, sans-serif;
  left: 0;
  padding: 16px;
  position: fixed;
  right: 0;
  z-index: 10000;
}

#cookies-privacy #texts-container {
  width: 75%;
}

#cookies-privacy #texts-container h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 8px;
}

#cookies-privacy #texts-container p {
  max-width: 1100px;
}

#cookies-privacy #buttons-container {
  display: flex;
  width: 25%;
}

#cookies-privacy .btn-light {
  align-items: center;
  background: #fff;
  border: 1px solid #211451;
  border-radius: 4px;
  color: #211451;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  min-height: 40px;
  justify-content: center;
  margin: 10px;
  padding: 16px;
  transition: background 0.2s;
  width: 200px;
}
#cookies-privacy .btn-light:hover {
  background: rgba(33, 20, 81, 0.2);
}

#cookies-privacy .btn-dark,
#config-privacy-modal .modal-inner footer .btn-dark {
  align-items: center;
  background: #211451;
  border: 1px solid #fff;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  min-height: 40px;
  justify-content: center;
  margin: 10px;
  padding: 16px;
  transition: background 0.2s;
  width: 200px;
}
#cookies-privacy .btn-dark:hover,
#config-privacy-modal .modal-inner footer .btn-dark:hover {
  background: rgba(33, 20, 81, 0.8);
}

#config-privacy-modal * {
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  padding: 0;
}

#config-privacy-modal.modal {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 0;
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

#config-privacy-modal .modal-inner {
  background: rgba(255, 255, 255);
  border: 1px solid #888;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0), 0 7px 14px 0 rgba(50, 50, 93, 0.1);
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 960px;
  max-width: 80%;
  height: 580px;
  max-height: 60%;
}

#config-privacy-modal .modal-inner h1 {
  align-items: center;
  border-bottom: 1px solid #ccc;
  color: #333;
  display: flex;
  font-family: Arial, sans-serif;
  font-size: 32px;
  font-weight: 700;
  height: 80px;
  justify-content: center;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

#main-section {
  display: flex;
  flex-direction: row;
  font-family: Roboto, sans-serif;
  height: calc(100% - 160px);
  overflow: auto;
}

#main-section nav {
  display: flex;
  flex-direction: column;
  max-width: 260px;
}

#main-section nav .menu-item {
  background: transparent;
  border: 0;
  border-left: 5px solid transparent;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: bold;
  height: 50px;
  padding: 10px 20px;
  text-align: left;
  transition: background 0.3s;
  width: 100%;
}
#main-section nav .menu-item:hover {
  background: rgba(33, 20, 81, 0.2);
}
#main-section nav .menu-item.menu-item-active {
  border-left: 5px solid #211451;
}

#main-section main {
  border-left: 1px solid #ccc;
  flex: 1;
  padding: 24px;
}

#main-content main h3 {
  font-size: 20px;
  font-weight: 700;
}

#main-content .main-content-header-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
}

#main-content .main-content-header-container span {
  color: #211451;
  font-size: 20px;
}

#main-content .main-content-header-container .custom-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #ddd;
  border-radius: 3em;
  cursor: pointer;
  font-size: 16px;
  height: 1.5em;
  outline: none;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 3.5em;
}

#main-content .main-content-header-container .custom-checkbox:checked {
  background: #211451;
}

#main-content .main-content-header-container .custom-checkbox:after {
  background: #fff;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.3);
  content: "";
  height: 1.5em;
  left: 0;
  position: absolute;
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 1.5em;
}

#main-content .main-content-header-container .custom-checkbox:checked:after {
  left: calc(100% - 1.5em);
}

#config-privacy-modal .modal-inner footer {
  align-items: center;
  border-top: 1px solid #ccc;
  display: flex;
  height: 80px;
  justify-content: center;
}

#btn-cookie-privacy {
  background: #211451;
  border: 0;
  border-radius: 50%;
  bottom: 24px;
  color: #f2f2f2;
  cursor: pointer;
  height: 60px;
  left: 24px;
  outline: 0;
  position: fixed;
  transition: opacity 0.2s;
  width: 60px;
  z-index: 20000;
}
#btn-cookie-privacy:hover {
  background: rgba(33, 20, 81, 0.2);
}

@media screen and (max-width: 1200px) {
  #buttons-container {
    flex-direction: column;
  }
}